<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv=“Content-Type” content=“text/html; charset=utf-8">
    <title>Scrabble Word Finder v.2.0. !!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<img style="padding-left: 550px; width: 70%;" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/50090-istock-458634327.jpg?itok=nczkbteM&resize=1100x1100" class="img-fluid" alt="Responsive image">
<div class="container-fluid" ng-controller="SearchController">
    <div>
    <div class="col-xs-3"></div>
    <div class="row form-group col-xs-6 input-group mb-3">
        <input name="ownedLetter" type="text" class="form-control" placeholder="Free letters"
               aria-label="Owned letters" aria-describedby="basic-addon2" ng-model="ownedLetter">
        <input name="boardLetter" type="text" class="form-control" placeholder="Board letters (in order left -> right)" aria-label="Board letter"
               aria-describedby="basic-addon2" ng-model="boardLetter">
        <div class="input-group-append" style="padding-left: 370px">
            <button ng-click="search(ownedLetter,boardLetter)" class="btn btn-primary btn-lg active btn-outline-secondary" type="button">Search
            </button>
        </div>
    </div>
    <div class="col-xs-3"></div>
    </div>
    <div ng-if="!machedWords.empty() && machedWords.length != 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Word</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="machedWord in machedWords">
                    <th scope="row">{{$index +1}}</th>
                    <td>{{machedWord.word}}</td>
                    <td>{{machedWord.score}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="machedWords.length == 0">
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-sad-tear"></i>
            Sorry! We don't find a word from letters you provide <i class="fa fa-sad-tear"></i>
        </div>
    </div>
</div>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="core/controller/search.controller.js"></script>
<script src="core/service/requestHandler.js"></script>
</body>
</html>
